<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.viet.mine">

    <application>
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.CollectionActivity" />
        <activity android:name=".activity.AccountInfoActivity" />
        <activity android:name=".activity.InviteFriendActivity" />
        <activity android:name=".activity.MineWalletActivity" />
    </application>
</manifest>
